body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }
  
  #root {
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 1rem;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 2rem;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  .project {
    margin: 1rem 0;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .animated-bg {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  